*{
  padding: 0;
  margin: 0;
  font-family: montserrat;
}

.due-date, .points{
  background-color: #bfbfbf;
  float: right;
}

.right h1{
  font-size: 72px;
  padding-top: .3em;
  color: Black;
}

.left h2{
  padding-top: 1em;
  font-size: 40px;
}

.container{
  display: inline-flex;
  width: 100%;
  height: 94vh;
}

.left{
  width: 20%;
  background-color: #2980b9;
  text-align: center;
  border-right: 2px solid black;
}

.right{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #ecf0f1;
}

.nav-bar{
  background-color: #fff;
  display: inline-flex;
  width: 100%;
}

.nav-bar ul li a:hover{
  color: white;
  background-color: #2980b9;
  border-radius: 5px; 
}

.nav-bar ul li{
  color: white;
  background-color: white;
  display: inline-flex;
  text-decoration: none;
  font-size: 36px;
  padding: 5px 30px;
}

.nav-bar ul li a{
  color: #2980b9;
  background-color: white;
  text-decoration: none;
}

.nav-bar ul{
  text-align: right;
  background-color: white;
}

.nav-bar ul:first-child{
  text-align: left;
  background-color: white;
}

hr{
  border: 1px #aaaaaa solid;
}

.task{
  color: #dfdfdf;
  font-size: 32px;
}

.about-content{
  padding: 10px 0 10px 20px;
  display: inline;
  background-color: #2980b9;
  color: #fff;
  border-radius: 10px;
  font-size: 32px;
}

td{
  line-height: 1;
  font-size: 48px;
  border-radius: 10px;
  background-color: #2980b9;
  padding: 20px;
  box-shadow: 15px 15px 4px grey;
}

.topic, .ques{
  padding-left: 20px;
}

 .due-date, .points{
   padding-right: 20px;
 }

.pdf-icon{
  height: 32px;
}

tr{
  padding: 10px;
  background-color: #2980b9;
}

.right table{
  width: 100%;
  padding: 0 50px;
  border-spacing: 0 2em;
}
